.participantPortrait {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: 10px;
}

.participantCard {
  border: brown 2px solid;
  display: flex;
  width: 32rem;
  margin: 15px;
  border-radius: 10px;
}
.participantData {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
