.participant-portrait {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin: 10px;
}

.participant-card {
  border: brown 2px solid;
  display: flex;
  width: 32rem;
  margin: 15px;
  border-radius: 10px;
}
.participant-data {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.participant-button {
  border-radius: 100%;
  color: brown;
  border: brown solid 1px;
  background-color: white;
}
.participant-button:hover {
  background-color: brown;
  color: white;
}

.participant-button-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
